@import "~@angular/material/theming";

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red);
$background: mat-palette($mat-grey);


$blue: mat-palette($mat-blue);
$yellow: mat-palette($mat-yellow);
$green :mat-palette($mat-green);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$theme: mat-light-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn,
        ),
    )
);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-indigo, 400);
$dark-accent: mat-palette($mat-pink);
$dark-warn: mat-palette($mat-red);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
